
@{
    ViewBag.Title = "Other";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="blogs">
    <div class="content">
        <h3 style="color: #eee; font-size: 2rem; padding-bottom: 5%; margin-top: 20%;"> / other works</h3>
        <p>
            ................................................................................................................................
            ................................................................................................................................
        </p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>
            ................................................................................................................................
            ................................................................................................................................
        </p>
    </div>
</section>

<section id="works">
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="~/Content/images/io.gif" draggable="false" />
        <a href="@Url.Action("Project1" , "Default")" style="position: absolute; left: 5%; top: 91%; color: var(--violet-color); font-size: 1.2rem"> <b> POSTMAN </b> </a>
        <img class="image" src="~/Content/images/back.gif" draggable="false" />
        <a href="@Url.Action("Project2" , "Default")" style="position: absolute; left: 17.5%; top: 91%; color: var(--violet-color); font-size: 1.2rem"> <b> PENDULUM </b> </a>
        <img class="image" src="~/Content/images/bot gif.gif" draggable="false" />
        <a href="@Url.Action("Project3" , "Default")" style="position: absolute; left: 30.5%; top: 91%; color: var(--violet-color); font-size: 1.2rem"> <b> FLOWER </b> </a>
        <img class="image" src="~/Content/images/mimi.gif" draggable="false" />
        <a href="@Url.Action("Project4" , "Default")" style="position: absolute; left: 43%; top: 91%; color: var(--violet-color); font-size: 1.2rem"> <b> DOTS </b> </a>
        <img class="image" src="~/Content/images/scary.gif" draggable="false" />
        <a href="@Url.Action("Project5" , "Default")" style="position: absolute; left: 55.5%; top: 91%; color: var(--violet-color); font-size: 1.2rem"> <b> SNOWFLAKE </b> </a>
        <img class="image" src="~/Content/images/sun.gif" draggable="false" />
        <a href="@Url.Action("Project6" , "Default")" style="position: absolute; left: 68.3%; top: 91%; color: var(--violet-color); font-size: 1.2rem"> <b> SPACEFLOWERS </b> </a>
        <img class="image" src="~/Content/images/universe.gif" draggable="false" />
        <a href="@Url.Action("Project7" , "Default")" style="position: absolute; left: 81.1%; top: 91%; color: var(--violet-color); font-size: 1.2rem"> <b> SUNSETRISE </b> </a>
        <img class="image" src="~/Content/images/background.gif" draggable="false" />
        <a href="@Url.Action("Project8" , "Default")" style="position: absolute; left: 93.5%; top: 91%; color: var(--violet-color); font-size:1.2rem">  <b> WINDMILL </b> </a>
    </div></section>


